

.about_container { /* sets the width and padding of the container */
    width: 100%;
    padding: 1px;
    font-size: 1.3vw;
    text-align: center;
}

.slideshow {
    width: 50%;
    position: center;
    margin: auto;
    padding: 10px;
}

.myslides {
    vertical-align: middle;
}

