html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.image_banner { /* sets the width and height of the image banner div */
    width: 100%;
    height: 20%;
}

    .image_banner img { /* set the alignment and size of the image within the div */
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

.banner_text { /* sets the position and formatting of the text which hovers over the image banner */
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: darkgrey;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}