.h1 {
    font-size: 3vw;
}

.h2{
    font-size: 2vw;
}

html {
  font-size: 14px;
}
/* sets the font size of site */

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
/* sets the font size of website if bigger than 20px */

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
}

.image_banner { /* sets the width and height of the image banner div */
    width: 100%;
    height: 20%;
}

    .image_banner img { /* set the alignment and size of the image within the div */
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

.banner_text { /* sets the position and formatting of the text which hovers over the image banner */
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: darkgrey;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}

.quantity_container {
    display: grid;
    grid-auto-flow: column;
}

/* Code adapted from GeeksforGeeks(2023) */

#snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

  
    #snackbar.show {
        visibility: visible; 
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* End of code adapted */


/* Code adapted from W3Schools(n.d.-c) */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }
/* End of code adapted */