@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Setting up a viewport so the website is optimised for each kind of device -->
    <link rel='stylesheet' href="~/css/about.css">
    <!-- Reference to the CSS style sheet -->
</head>
<body>
    <!-- This creates a div which contains the links used in the navigation bar -->
    <div class="image_banner">
        <img src="~/images/about_banner.png"> <!-- Top Slice (n.d.). https://www.topslice.co.uk/ -->
        <div class="banner_text">About Harry's Pizza</div>
    </div>
    <!-- Creates a div that is referenced in CSS in order to display an image banner -->

    <div class="about_container">
            <p>
                Harry’s Pizza is a local gem that has been serving up mouthwatering pizzas to the residents of Chester. 
                With a passion for quality ingredients and authentic flavors, we've become a go-to spot for pizza 
                enthusiasts.<br /><br />

                Here are some highlights about Harry’s Pizza:<br />
                
                1. Location: You can find Harry’s Pizza nestled in the heart of Chester, making it convenient for both 
                locals and visitors. <br />

                2. Menu: Our menu boasts a variety of pizza options, from classic Margheritas to creative combinations. 
                Whether you’re a fan of thin crust or deep-dish, there’s something for everyone. <br />

                3. Quality Ingredients: At Harry’s Pizza we take pride in using fresh, high-quality ingredients. Each pizza is crafted with care, 
                ensuring a delightful dining experience. <br />

                4. Delivery Service: Need a pizza fix at home? No worries! Harry’s Pizza offers efficient delivery services, bringing piping-hot 
                pizzas straight to your doorstep.<br />

                5. Atmosphere: If you prefer dining in, their cozy restaurant provides a welcoming ambiance. Enjoy your pizza with friends and 
                family in a relaxed setting. <br />

                <br />Next time you’re craving a slice of cheesy goodness, consider giving Harry’s Pizza a try. Your taste buds will thank you! 🍕
            </p>
    </div>
    <!-- This contains multiple divs which user inherritance in order to seperate the page into two halves so space is not wasted -->
    <iframe width=100% height="500px" src="https://www.youtube.com/embed/HxanfAyzXGk"></iframe>
    <!-- This adds rich media as an iframe which contains an embedded YouTube video -->
</body>
</html>
