@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Setting up a viewport so the website is optimised for different screen sizes -->
    <link rel='stylesheet' href="~/css/about.css">
    <link rel='stylesheet' href="~/css/site.css">
    <!-- Reference to the CSS style sheet - generic site and specialised about -->
</head>
<body>
    <!-- This creates a div that stores an image banner with text -->
    <div class="image_banner">
        <img src="~/images/about_banner.png" alt="Image of veggie pizza on a table"> <!-- Pizza Oven Reviews (n.d.) -->
        <div class="banner_text">About Harry's Pizza</div>
    </div>
 
    <div class="about_container">
            <p>
                Harry’s Pizza is a local gem that has been serving up mouthwatering pizzas to the residents of Chester. 
                With a passion for quality ingredients and authentic flavors, we've become a go-to spot for pizza 
                enthusiasts.<br /><br />

                Here are some highlights about Harry’s Pizza:<br />
                
                1. Location: You can find Harry’s Pizza nestled in the heart of Chester, making it convenient for both 
                locals and visitors. <br />

                2. Menu: Our menu boasts a variety of pizza options, from classic Margheritas to creative combinations. 
                Whether you’re a fan of thin crust or deep-dish, there’s something for everyone. <br />

                3. Quality Ingredients: At Harry’s Pizza we take pride in using fresh, high-quality ingredients. Each pizza is crafted with care, 
                ensuring a delightful dining experience. <br />

                4. Delivery Service: Need a pizza fix at home? No worries! Harry’s Pizza offers efficient delivery services, bringing piping-hot 
                pizzas straight to your doorstep.<br />

                5. Atmosphere: If you prefer dining in, their cozy restaurant provides a welcoming ambiance. Enjoy your pizza with friends and 
                family in a relaxed setting. <br />

                <br />Next time you’re craving a slice of cheesy goodness, consider giving Harry’s Pizza a try. Your taste buds will thank you! 🍕
            </p>
    </div>
    <div class="slideshow">
        @foreach (var item in Model.ImageSlideshow)
        {
            <img class="myslides" img src="@string.Format("data:image/jpg;base64, {0}", Convert.ToBase64String(item.ImageData))" alt="@Html.DisplayFor(modelItem => item.ImageDescription)" style="width:100%" />
        }
    </div>
    <!-- This is used as a div class which is later referenced by my JavaScript so a slideshow can appear on the page -->

    <script>
        // Code adapted from W3Schools(n.d.-d).
        var myIndex = 0; //Declares the variable myIndex which is later used in a for loop to loop through the images
        carousel(); // calls function carousel

        function carousel() { // function is declared
            let i; //declares variable i
            let x = document.getElementsByClassName("myslides"); //declares variable x and assigns it to the amount of elements in image class "myslides"
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";   //iterates through the images and sets display style to none
            }
            myIndex++; //increases the variable myIndex
            if (myIndex > x.length) { myIndex = 1 } //resets images back to beginning when at the end of images
            x[myIndex - 1].style.display = "inline-block";
            setTimeout(carousel, 4000); // Change image every 4 seconds
        }
        //End of code adapted
       
    </script>
</body>
</html>
