@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel='stylesheet' href="~/css/index.css">
    <link rel='stylesheet' href="~/css/site.css">
</head>

<body>

    <div class="image_banner">
        <img src="~/images/home_banner.png">
        
        <div class="banner_text">Harry's Pizza - the best pizza in Chester</div>
    </div>
    <!-- Creates a div that is referenced in CSS in order to display an image banner -->

   
</body>