@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel='stylesheet' href="css/index.css">


</head>

<body>

    <div class="image_banner">
        <img src="images/pizza_banner.png">
        <!-- The Foundary (n.d). Grand Park Co.
        https://www.grandparkco.com/places-to-eat-in-winter-park-colorado/ -->
        <div class="banner_text">Welcome to Harry's Pizza</div>
    </div>
    <!-- Creates a div that is referenced in CSS in order to display an image banner -->
</body>